/* some colors you may find useful:
  #115ff4
  #060ce9 blue
  #28a200 green
  #8d2ab5 purple
  #74119c purple
*/
body {
  background-color : black;
}

td {
  width:16%;
  text-align: center;
  border: 2px solid white;
  background-color: #115ff4; 
}

th {
  text-align: center;
  color: white;
  border: 2px solid white;
  background-color: #115ff4;
}

table {
  border: 2px solid white;
}

.glyphicon {
  font-size: 75px;
}

.clicked {
  background-color: #28a200;
}